
a[id^="5"]{
    color: red;
}
a[id^="6"]{
    color: red;
}

a[id^="7"]{
    color: red;
}
a[id^="8"]{
    color: red;
}


a[id^="1"]{
    color: green;
}
a[id^="2"]{
    color: green;
}
a[id^="3"]{
    color: green;
}
a[id^="4"]{
    color: green;
}


