<div class="jumbotron text-center">
    <h1>Pokémon</h1>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin"> Info </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"> Pokémon </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink='/add_pokemon'> Add Pokémon </a>
            <a class="dropdown-item" routerLink="/add_fast_attack"> Add Fast Attack </a>
            <a class="dropdown-item" routerLink="/add_main_attack"> Add Main Attack </a>
            <a class="dropdown-item" routerLink="/connect_attack"> Connect Pokémon with Attacks </a>
            <a class="dropdown-item" routerLink="/pokemon_details"> Add Pokémon Details </a>
            <a class="dropdown-item" routerLink="/pokemon_evolution"> Pokémon Evolution </a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/all_pokemon">All Pokémon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tournaments">Tournaments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/table_points">Points</a>
      </li>
</ul>


<div class='container'>

    <div class='row justify-content-center mt-4' style='color: crimson;'>
        <div class='col col-sm-3'>

        </div>
        <div class='col col-sm-6'>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 10%; text-align:center ;">Place</th>
                        <th style="width: 70%; text-align: center;">Pokémon</th>
                        <th style="width: 20%; text-align: center;">Points</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr *ngFor='let p of pokemon; let i = index' class='justify-content-center'>
                        <td style="width: 10%; text-align:center ;">{{i+1}}</td>
                        <td><a [routerLink]="['/pokemon_profile', p.idPokemon]">{{p.namePokemon}}</a></td>
                        <td style="width: 10%; text-align:center ;">{{p.points}}</td>
                    </tr>

                </tbody>
            </table>
        </div>


        <div class='col col-sm-3'>

        </div>
    </div>
</div>