<div class="jumbotron text-center">
    <h1>Pokémon</h1>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin"> Info </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Pokémon </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink='/add_pokemon'> Add Pokémon </a>
        <a class="dropdown-item" routerLink="/add_fast_attack"> Add Fast Attack </a>
        <a class="dropdown-item" routerLink="/add_main_attack"> Add Main Attack </a>
        <a class="dropdown-item" routerLink="/connect_attack"> Connect Pokémon with Attacks </a>
        <a class="dropdown-item" routerLink="/pokemon_details"> Add Pokémon Details </a>
        <a class="dropdown-item" routerLink="/pokemon_evolution"> Pokémon Evolution </a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/all_pokemon">All Pokémon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tournaments">Tournaments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/table_points">Points</a>
    </li>
  </ul>

  
  <div class = 'container'> 
    <div class = 'row'>
        <img src='assets/images/admin_image.jpg' style="width: 100%;"/>
    </div>
    
  </div>
